
gui/__pycache__/

.idea/

__pycache__/

config.cfg
/classification/labels.npy
/classification/spectra.npy

classification/logs/

classification/spectra.txt

classification/labels_new.npy

classification/spectra_new.npy

classification/ResNetModelSaves/

classification/ResNetModelSavesNoPreprocess/

classification/ResNetModelSavesWithPreprocess/

classification/logsBackup/
